<article class="<%= item.layout %>">
  <% if (item.photos){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
    <header>
      <% if (item.layout != 'page'){ %>
        <time class="date-item" datetime="<%= item.date.toDate().toISOString() %>"><a class="link-time-item" href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
      <% } %>
      <%- partial('post/title') %>
    </header>
    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
    <% if (item.layout == 'post' || index) { %>
    <footer <% if (index == false){ %>class="footer-inner"<% } %>>
      <% if (index){ %>
        <% if (item.excerpt){ %>
        <a href="<%- config.root %><%- item.path %>#more" class="btn btn-more"><%= theme.excerpt_link %></a>
        <% } %>
        <% if (item.comment && config.disqus_shortname){ %>
        <a href="<%- item.permalink %>#disqus_thread" class="btn">Comments</a>
        <% } %>
      <% } else { %>
        <%- partial('post/metadata') %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <%- partial('post/share') %>
      <% } %>
      <div class="clearfix"></div>
    </footer>
    <% } %>
  </div>
</article>
<% if (item.layout == 'post') { %>
<%- partial('comment') %>
<% } %>