<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <%
    var title = [];
    if (page.current > 1) title.push(__('page', page.current));
    if (page.title) title.push(page.title);
    if (page.category) title.push(page.category);
    if (page.tag) title.push(page.tag);
    if (page.archive){
      if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
      else title.push(__('archive_a'));
    }
    title.push(config.title);
    %>
    <title><%= title.join(' | ') %> - <%= config.subtitle %></title>
    <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
    <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
    <% } else if (page.excerpt){ %>
    <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content){ %>
    <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } %>
    <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
    <meta property="og:site_name" content="<%= config.title %>"/>

    <% if(page.cover) { %>
      <meta property="og:image" content="<%= page.cover %>" />
    <% } else { %>
      <meta property="og:image" content="<%= config.cover %>"/>
    <% } %>

    <!-- Facebook Meta -->
    <meta property="fb:app_id" content="1442669005975536"/>
    <meta property="og:title" content="<%= config.title %> &mdash; Front-end developer"/>
    <meta property="og:site_name" content="<%= config.author %>"/>
    <meta property="og:url" content="<%= config.url %>"/>
    <meta property="og:image" content="http://diogo.nu/img/diogo-profile.jpg"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:description" content="HTML5, CSS3, JavaScript and front-end world."/>

    <link rel="apple-touch-icon" sizes="57x57" href="<%- config.favicons_dir %>apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%- config.favicons_dir %>apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%- config.favicons_dir %>apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%- config.favicons_dir %>apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%- config.favicons_dir %>apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%- config.favicons_dir %>apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- config.favicons_dir %>apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%- config.favicons_dir %>apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="<%- config.favicons_dir %>favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="<%- config.favicons_dir %>favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="<%- config.favicons_dir %>favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="<%- config.favicons_dir %>favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%- config.favicons_dir %>favicon-16x16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#9a9a9a">
    <meta name="msapplication-TileImage" content="<%- config.favicons_dir %>mstile-144x144.png">
    
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
    <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
